@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'monospace;', serif;
}

body {
  overflow: auto;
}

::selection {
  color: #000;
  background-color: rgb(75, 204, 204);;
}

